if SHIELD_CORNE_LEFT || SHIELD_CORNE_RIGHT

config ZMK_KEYBOARD_NAME
    default "Corne"

config ZMK_SPLIT
    default y

# Esto ayuda a que el USB Serial se active más fácilmente
config USB_DEVICE_STACK
    default y

endif
